<p>I am the index action</p>


  <% @poodles.each do |poodle| %>
    <p><a href="/poodles/<%= poodle.id %>"><%= poodle.name %></a></p>
    <p><%= poodle.breed %></p>
    <p><%= poodle.age %></p>
    <p><%= poodle.color %></p>
    <hr>
  <% end %>

